.LoginWindow {
  padding: 0.5em;
  background: white;

  min-width: 300px;
  width: 25vw;

  .logout {
    border: none;
    background: none;
    color: red;

    &:hover {
      cursor: pointer;
      color: darkred;
    }
  }
}

.LoginForm {
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
