.LoginWindow {
  padding: var(--gap-sm);
  background: white;

  width: min(24rem, calc(100vw - 2rem));
}

.LoginForm {
  form {
    @include vertical-content;
  }
}

@media (max-width: 640px) {
  .LoginWindow {
    padding: var(--gap-md);
  }
}
