.SidepanelWindow {
  .window-header {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--accent-contrast);

    padding-top: var(--gap-sm);
    padding-bottom: var(--gap-sm);

    .window-controls {
      position: absolute;
      left: 0;

      display: flex;
      align-items: center;

      // color the icons to contrast with the header background
      & > * {
        color: var(--accent-contrast);
      }
    }

    .window-title {
      white-space: nowrap;
      font-weight: var(--weight-bold);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  .panel-content {
    overflow: scroll;
    max-height: 85vh;
    width: 23vw;
    background: var(--white);
    color: var(--black);
    padding: var(--gap-md);
  }

  &.no-padding {
    .panel-content {
      padding: 0;
    }
  }
}
