.Profile {
  @include vertical-content;
  min-height: inherit;
  height: var(--panel-height-md);

  .main-content {
    @include vertical-content;
    gap: 0;
    flex: 1;
  }

  .banner {
    display: grid;
    justify-items: end;

    > * {
      grid-column: 1;
      grid-row: 1;
    }

    .edit-button {
      margin: var(--gap-xs);
      width: fit-content;
    }
  }

  .profile-info {
    display: flex;
    align-items: center;
    margin-left: var(--gap-lg);
    margin-top: calc(var(--gap-md) * -1);

    .names {
      display: flex;
      flex-direction: column;

      .nickname {
        font-family: var(--fun);
      }

      .username {
        color: var(--grey);
        font-size: 1.3rem;
        font-weight: var(--weight-semibold);
      }
    }
  }

  .avatar {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: var(--gap-sm) solid var(--white);
    margin-top: -65px;
    flex-shrink: 0;
  }

  .expanded-profile {
    display: flex;
    flex-direction: column;

    padding: var(--gap-sm);
    padding-top: var(--gap-md);
    gap: var(--gap-md);

    .bio {
      padding: var(--gap-lg);
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1.2;
    }
  }

  .footer {
    margin-top: auto;
    padding-bottom: var(--gap-xs);

    .barcode {
      color: var(--grey-dark);
      font-family: var(--barcode);
      font-size: 3rem;
      text-align: center;
    }
  }
}
