.FlightView {
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    border-left: rgb(0, 0, 0) 3px solid;
    padding-left: 0.5em;

    .flight-number {
      font-weight: 700;
      color: #222;
    }
  }

  h5 {
    font-size: 90%;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: #333;
    text-decoration: underline;
  }

  .date,
  .departure-time,
  .arrival-time {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  .time {
    margin-top: 0.3em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }

  .notes {
    white-space: pre-wrap;
  }

  .airport-details {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .origin,
    .destination {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .action-buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}
