.FlightListSeparator {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;

  &::before,
  &::after {
    content: "";
    height: 1.5px;
    background-color: black;
    opacity: 0.4;
  }

  &::before {
    flex: 1;
  }

  &::after {
    flex: 4;
  }

  .label {
    color: black;
    opacity: 0.6;
    white-space: nowrap;
    font-weight: 600;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
