.StatusBar {
  @include inline-content;

  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 0 var(--gap-sm);
  height: 30px;
  background: var(--white);
  justify-content: space-between;

  .user-message,
  .time {
    font-size: 0.833rem;
    font-weight: var(--weight-medium);
    font-family: var(--monospace);
  }

  .text {
    @include inline-content;
    font-weight: var(--weight-bold);

    img {
      height: 22px;
    }
  }

  .user-management {
    @include inline-content;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
