@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: $viewport-padding;
  background: $bg-color;
  font-family: "Inter", sans-serif !important;
}

.app {
  height: 100vh;
  width: 100vw;
}

// Typescale
h1 {
  font-size: 32.85px;
}

h2 {
  font-size: 27.37px;
}

h3 {
  font-size: 22.81px;
}

h4 {
  font-size: 19.01px;
}

h5 {
  font-size: 15.84px;
}

h6 {
  font-size: 13.2px;
}

p {
  font-size: 11px;
}

small,
.text-small {
  font-size: 9.17px;
}

.text-smaller {
  font-size: 7.64px;
}
