@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: $viewport-padding;
  background: $bg-color;
  font-family: "Inter", sans-serif !important;
}

.app {
  height: 100vh;
  width: 100vw;
}
