@use "@/styles/variables" as *;

.ThemeToggle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;

  button {
    background: none;
    border: none;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    cursor: pointer;
    touch-action: manipulation;

    img {
      width: 30px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: rotate(12deg);
      }

      &:active {
        transition: none;
        transform: rotate(-12deg);
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .ThemeToggle {
    left: auto;
    right: var(--gap-sm);
    top: calc(40px + var(--gap-xs));
    bottom: auto;
  }
}
