.ThemeToggle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;

  button {
    background: none;
    border: none;
    padding: none;
    cursor: pointer;

    img {
      width: 30px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: rotate(12deg);
      }

      &:active {
        transition: none;
        transform: rotate(-12deg);
      }
    }
  }
}
